<div class="flex header">
  <h1>ember-prop-types</h1>
  <a href="https://github.com/ciena-blueplanet/ember-prop-types/blob/master/LICENSE.md">
    <img alt="MIT License" src="mit.png" />
  </a>
  <a href="https://github.com/ciena-blueplanet/ember-prop-types">
    <img alt="Github" src="octocat.png" />
  </a>
</div>

<p>
  This project aims to improve the developer experience of property management within Ember
  apps and addons by implementing the entire React proptype API with a few additional
  validators. By using <em>ember-prop-types</em> a developer is informed when a property
  being fed to a component is not of the expected type, as well as allows a developer to group
  all default property values under a single method.
</p>

<p>
  <em>ember-prop-types</em> comes with a few configuration options which can be set in <em>config/environment.js</em>
  for all environments or specific environments. Below is an example configuration with comments as to what each
  option is for:
  {{#code-block language="javascript"}}{{model.config}}{{/code-block}}
</p>

<h2>Validators</h2>

<div class="flex">
  {{#each model.validators as |validator|}}
    <section>
      <dt>{{validator.name}}</dt>
      <dl>{{validator.description}}</dl>
      <h4>Component Definition</h4>
      {{#code-block language="javascript"}}{{validator.example}}{{/code-block}}
      {{#if validator.hbs}}
        <h4>Consumption in Templae</h4>
        {{#code-block language="handlebars"}}{{validator.hbs}}{{/code-block}}
      {{/if}}
    </section>
  {{/each}}
</div>

<h2>Default Values</h2>

<div class="flex">
  <section>
    <dt>getDefaultProps()</dt>
    <dl>Method to get default property values.</dl>
    {{#code-block language="javascript"}}{{model.defaultsExample}}{{/code-block}}
  </section>
</div>

<h2>Contributors</h2>

<div class="contributors flex">
  {{#each model.contributors as |contributor|}}
    <a
      href={{concat 'https://github.com/' contributor.username}}
    >
      <img
        alt={{contributor.username}}
        src={{concat 'https://avatars3.githubusercontent.com/u/' contributor.id}}
      />
      <br/>
      {{contributor.name}}
    </a>
  {{/each}}
</div>
